In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
df = pd.read_csv("womens-shoes-prices/sapatos.csv", header=0)[['id', 'brand', 'categories', 'primaryCategories', 'colors',
       'prices.amountMax', 'prices.amountMin', 'prices.color',
       'prices.condition', 'prices.isSale']]

In [3]:
df["prices.condition"] = [condition.upper() for condition in df["prices.condition"].fillna("USED")]

In [4]:
df = df.drop(["primaryCategories"], axis=1)

In [5]:
df["colors"] = df["colors"].fillna("NA")
df["colors"] = [tuple(names.replace("/", " ").split(" ")[0].strip() for names in set(colors.split(","))) for colors in df["colors"].fillna("")]

In [6]:
df.head()

,id,brand,categories,colors,prices.amountMax,prices.amountMin,prices.color,prices.condition,prices.isSale
0,AVpfEf_hLJeJML431ueH,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","(Silver, Cream)",55.99,55.99,UWomens M Regular,USED,False
1,AVpi74XfLJeJML43qZAc,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...","(Grey,)","47,00",35.25,Grey,NEW,True
2,AVpi74XfLJeJML43qZAc,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...","(Grey,)",35.25,35.25,Grey,NEW,False
3,AVpjXyCc1cnluZ0-V-Gj,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","(Black,)",24.75,24.75,Black,NEW,False
4,AVphGKLPilAPnD_x1Nrm,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","(Grey,)","33,00",30.39,Grey,NEW,True

In [8]:
df["categories"] = [tuple(category.strip() for category in set(categories.split(","))) for categories in df["categories"].fillna("")]
df.head()

,id,brand,categories,colors,prices.amountMax,prices.amountMin,prices.color,prices.condition,prices.isSale
0,AVpfEf_hLJeJML431ueH,Naturalizer,"(Clothing, Heels, Shoes, Women's Shoes, All Wo...","(Silver, Cream)",55.99,55.99,UWomens M Regular,USED,False
1,AVpi74XfLJeJML43qZAc,MUK LUKS,"(Clothing, Shoes, Women's Shoes, All Women's S...","(Grey,)","47,00",35.25,Grey,NEW,True
2,AVpi74XfLJeJML43qZAc,MUK LUKS,"(Clothing, Shoes, Women's Shoes, All Women's S...","(Grey,)",35.25,35.25,Grey,NEW,False
3,AVpjXyCc1cnluZ0-V-Gj,MUK LUKS,"(Clothing, Women's Slippers, Shoes, Women's Sh...","(Black,)",24.75,24.75,Black,NEW,False
4,AVphGKLPilAPnD_x1Nrm,MUK LUKS,"(Clothing, Women's Slippers, Shoes, Women's Sh...","(Grey,)","33,00",30.39,Grey,NEW,True

In [9]:
categories = set(reduce(lambda a,b: a+b, df["categories"].unique()))
colors = set(reduce(lambda a,b: a+b, df["colors"].unique()))

In [10]:
colors

{'Angora',
 'Anthracitedark',
 'Antique',
 'AquariumFlashCoralBlueJewel',
 'Aquifer',
 'Armory',
 'Aruba',
 'Asphalt',
 'Atomic',
 'Azalea',
 'Basalt',
 'Bayou',
 'Beaujolaiswhite',
 'Beige',
 'Birch',
 'Bird',
 'Black',
 'Black-Purple-Print',
 'Blackblack',
 'Blackchrome-Aurora',
 'Blackcotton',
 'Blackfrost',
 'Blackgreen',
 'Blackgreenbrown',
 'Blackgrey',
 'Blackmetallic',
 'Blacksilver',
 'Blacksmoky',
 'Blackwatch',
 'Blackwhite',
 'Bleach',
 'Blue',
 'Blueblue',
 'Blueprint',
 'Bomber',
 'Bone',
 'Bordo',
 'Brindle',
 'Bronze',
 'Brooke',
 'Brown',
 'Brownbark',
 'Brunette',
 'Buckskin',
 'Burgundy',
 'Cabana',
 'Calypso',
 'Capri',
 'Caraibes',
 'Carbon',
 'Cashew',
 'Castlerock',
 'Ceramic',
 'Charcoal',
 'Charcoalcreamgumblue-Black',
 'Cherries',
 'Chestnut',
 'Chocolate',
 'Clematis',
 'Coffee',
 'Cognac',
 'Cool',
 'Coral',
 'Coraltaupe',
 'Core',
 'Coreblack',
 'Cream',
 'Dark',
 'Deep',
 'Diva',
 'Easy',
 'Ebony-Silver-Pink',
 'Eggplant',
 'Emerald',
 'Evening',
 'Fabric',
 'Fair',
 'Fatigue',
 'Fiji',
 'Fjord',
 'Flamingo',
 'Floral',
 'Footwear',
 'Frost',
 'Fuchsia',
 'Fusion',
 'Glacier',
 'Gold',
 'Golden',
 'Gore',
 'Gray',
 'Graysilver',
 'Grey',
 'Greyblack',
 'Greypurple',
 'Gunsmoke',
 'Habana',
 'Hawaiian',
 'Highrisewhite',
 'Honey',
 'Hot',
 'Ice',
 'Indigo',
 'Inkdeadly',
 'Insignia',
 'Ivory',
 'Jiffy',
 'Khaki',
 'Kiwi',
 'Koa',
 'Leopard',
 'Liberty',
 'Licorice',
 'Light',
 'Lilac',
 'Luggage',
 'Lux',
 'Luxe',
 'Madder',
 'Mahogany',
 'Marine',
 'Marlin',
 'Maroon',
 'Mauve',
 'Me',
 'Medieval',
 'Medium',
 'Metallic',
 'Mica',
 'Mint',
 'Moccasin',
 'Mocha',
 'Mojolica',
 'Morning',
 'Multi-Color',
 'Mushroom',
 'Mustang',
 'N',
 'NA',
 'Nasturtium',
 'Natural',
 'Naturalgold',
 'Navy',
 'Navy-Plum-Ice',
 'Navy-Teal-Mint',
 'Navyblue',
 'Neon',
 'Neutral',
 'Nobile',
 'Noble',
 'Nude',
 'Olive',
 'Orange',
 'Orchid',
 'Oro',
 'Oyster',
 'Peach',
 'Pearl',
 'Pewter',
 'Pewterchampagne',
 'Pigeon',
 'Pink',
 'Pinot',
 'Platinum',
 'Poseidon',
 'Premier',
 'Primer',
 'Punch',
 'Pure',
 'Purple',
 'Purple-Pink-Teal',
 'Purpleblack',
 'Quarry',
 'Rainbow',
 'Raspberry',
 'Raspberrywhite',
 'Raw',
 'Red',
 'Redpink',
 'Redyellow',
 'Reflecting',
 'Regatta',
 'Rose',
 'Sage',
 'Sand',
 'Sangria',
 'Silver',
 'Slate',
 'Slateblue',
 'Soft',
 'Steel',
 'Stingraywhite',
 'Stone',
 'Summit',
 'Super',
 'Sweet',
 'Tan',
 'Tanwhite',
 'Taupe',
 'Teal',
 'Team',
 'Tibet',
 'Tibetan',
 'Tideline',
 'Tobacco',
 'Tornado',
 'True',
 'Turbulence',
 'Turquo',
 'Turquoise',
 'Twilight',
 'Utility',
 'Vintage',
 'Virtual',
 'Wheat',
 'White',
 'Whitebrooke',
 'Whitefire',
 'Whitegrey',
 'Whitewhite',
 'Wine',
 'Wood',
 'Yellow'}

In [14]:
len(colors)

223

In [15]:
categories

{'2 Lips Too',
 'A2 by Aerosoles',
 'ASICS',
 "All Men's Shoes",
 "All Women's Shoes",
 'All Womens Shoes',
 'Andrew Geller',
 'Apt. 9',
 'Athletic',
 'Athletic Shoes',
 'Baby & Kids Shoes',
 'Baby & Toddler Shoes',
 'Barrow',
 'Betula by Birkenstock',
 'Boat Shoes',
 'Boots',
 "Boys' Shoes",
 "Candie's",
 'Clarks',
 'Clogs',
 'Clothing',
 'Comfort',
 'Corkys',
 'Cowboy Boots',
 'Croft',
 'Dolce by Mojo Moxy',
 "Dr. Scholl's",
 'Eastland',
 'Easy Street',
 'FILA',
 'Fergalicious',
 'Fitness',
 'Flats',
 'Forever Collectibles',
 "Girls' Boots",
 "Girls' Shoes",
 'Heels',
 'Henry Ferrera',
 'Herstar',
 'Home Improvement',
 'Jennifer Lopez',
 'Journee Collection',
 'K-Swiss',
 'Keds',
 'Kisses by 2 Lips Too',
 'Koolaburra by UGG',
 'LC Lauren Conrad',
 'Laredo',
 'LifeStride',
 'Loafers',
 'Low Slide Sandals',
 'Lugz',
 'MUK LUKS',
 "Men's Athletic Shoes",
 "Men's Casual Shoes",
 "Men's Shoes",
 'Mid-Calf Boots',
 'Mules',
 'NYLA',
 'NaturalSoul by naturalizer',
 'New Balance',
 'Nike',
 'Olivia Miller',
 'Other Slip-Ons',
 'Oxfords',
 'PUMA',
 'Pumps',
 'Qupid',
 'REEF',
 'Rampage',
 'Rocky 4EurSole',
 'Running & Yoga',
 'Ryka',
 'SONOMA Goods for Life',
 'Sandals',
 'Sandals & Flip Flops',
 'Seven7',
 'Shoes',
 'Shoes & Accessories',
 'Shop by Clothing Type',
 'Simply Vera Vera Wang',
 'Skechers',
 'Slip-ons',
 'Slippers',
 'Sneakers',
 'Soft Style by Hush Puppies',
 'Sporting Goods',
 'Spring Step',
 'Style Charles by Charles David',
 'Under Armour',
 'Unionbay',
 'Vans',
 'Women',
 "Women's Athletic Shoes",
 "Women's Boots",
 "Women's Casual Boots & Shoes",
 "Women's Casual Shoes",
 "Women's Clothing",
 "Women's Dress Shoes",
 "Women's Footwear",
 "Women's New Balance Shoes",
 "Women's Red Wing Shoes",
 "Women's Road Running Shoes",
 "Women's Running Shoes",
 "Women's Sandals",
 "Women's Shoes",
 "Women's Slippers",
 "Women's Trail Running Shoes",
 "Women's Wear to Work",
 "Women's Winter Boots",
 "Women's Work & Safety Shoes",
 'Womens',
 'Womens Casual Shoes',
 'Womens Comfort',
 'Womens Comfort Boots & Booties',
 'Womens Oxford & Loafers',
 'Womens Oxfords',
 'Womens Sandals & Flip Flops',
 'Womens Shoes',
 'Womens Sport Sandals',
 'Work Safety Clothing and Equipment',
 'adidas',
 'madden NYC',
 'sugar'}

In [16]:
len(categories)

124

In [17]:
df['id'].nunique()

653

In [18]:
df["id"].count()

10000

In [19]:
df["prices.amountMax"] = [float(str(price).replace(",", ".")) for price in df["prices.amountMax"]]
df["prices.amountMin"] = [float(str(price).replace(",", ".")) for price in df["prices.amountMin"]]

In [20]:
df["price"] = (df["prices.amountMax"] + df["prices.amountMin"])/2

In [21]:
df = df.drop(["prices.amountMax", "prices.amountMin", "prices.color"], axis=1)

In [22]:
df.head()

,id,brand,categories,colors,prices.condition,prices.isSale,price
0,AVpfEf_hLJeJML431ueH,Naturalizer,"(Clothing, Heels, Shoes, Women's Shoes, All Wo...","(Silver, Cream)",USED,False,55.990
1,AVpi74XfLJeJML43qZAc,MUK LUKS,"(Clothing, Shoes, Women's Shoes, All Women's S...","(Grey,)",NEW,True,41.125
2,AVpi74XfLJeJML43qZAc,MUK LUKS,"(Clothing, Shoes, Women's Shoes, All Women's S...","(Grey,)",NEW,False,35.250
3,AVpjXyCc1cnluZ0-V-Gj,MUK LUKS,"(Clothing, Women's Slippers, Shoes, Women's Sh...","(Black,)",NEW,False,24.750
4,AVphGKLPilAPnD_x1Nrm,MUK LUKS,"(Clothing, Women's Slippers, Shoes, Women's Sh...","(Grey,)",NEW,True,31.695

In [23]:
df = df.rename(columns={"prices.condition": "condition", "prices.isSale": "isSale"})

In [24]:
df.head()

,id,brand,categories,colors,condition,isSale,price
0,AVpfEf_hLJeJML431ueH,Naturalizer,"(Clothing, Heels, Shoes, Women's Shoes, All Wo...","(Silver, Cream)",USED,False,55.990
1,AVpi74XfLJeJML43qZAc,MUK LUKS,"(Clothing, Shoes, Women's Shoes, All Women's S...","(Grey,)",NEW,True,41.125
2,AVpi74XfLJeJML43qZAc,MUK LUKS,"(Clothing, Shoes, Women's Shoes, All Women's S...","(Grey,)",NEW,False,35.250
3,AVpjXyCc1cnluZ0-V-Gj,MUK LUKS,"(Clothing, Women's Slippers, Shoes, Women's Sh...","(Black,)",NEW,False,24.750
4,AVphGKLPilAPnD_x1Nrm,MUK LUKS,"(Clothing, Women's Slippers, Shoes, Women's Sh...","(Grey,)",NEW,True,31.695

In [25]:
with open('shoes.json', 'w', encoding='utf-8') as file:
    df.to_json(file, force_ascii=False, orient='records', lines=True)